@import "fonts.scss";

.name-and-skills {
    width: 18%;
    transition: all 0.3s ease-out;
    padding-bottom: 100px;
    z-index: 200;
    
    
    
    @media(max-width: 768px) {
        transform: translateX(-100vw);
        transition: all 0.3s ease-out;
        position: fixed;
       
        
    }
}

.name-and-skills-open {
    transition: all 0.3s ease-out;
    z-index: 300;
 
    @media(max-width: 500px) {
        
        background-color: white;
        
       

        

        
    }
}