.showcase {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;

  .projects-title {
    text-decoration: underline;

    position: absolute;
    top: 15rem;
  }
}
