@import 'fonts.scss';

.skills {
    width: 100%;
    margin-top: 20px;
    
    transition: all 0.3s ease-out;
   
    height: 100vh;
    &::-webkit-scrollbar {
        width: 1px;
      }
    
    .skills-title {
        border-bottom: 2px solid black;
        width: 100%;
        margin: 0 auto;
        font-size: 2.5em;
        margin-top: 5px;
        margin-bottom: 0;
        font-family: $header-font;
        font-weight: bold;
    }
    .outer {
        display: flex;
        align-items: center;
        flex-direction: column;

        .inner {
            width: 100%;
        }
    }
    .skill {
        width: 100%;
        box-shadow: 2px 3px 6px #111;
        border-radius: 8px;
        display: flex;
        align-items: center;
        
        img{
            height: 60px;
            
        }
        p {
            font-size: 2em;
            font-family: $sub-title-font;
        } 
    }
}
