@import 'fonts.scss';

.skills {
    width: 100%;
    
    transition: all 0.3s ease-out;
   
    height: 100vh;
    &::-webkit-scrollbar {
        width: 1px;
      }
    
    .skills-title {
        border-bottom: 2px solid black;
        width: 80%;
        margin: 0 auto;
    }
    .outer {
        display: flex;
        align-items: center;
        flex-direction: column;

        .inner {
            width: 100%;
        }
    }
    .skill {
        width: 100%;
        
        display: flex;
        align-items: center;
        
        img{
            height: 60px;
            
        }
        p {
            font-size: 2em;
            font-family: $sub-title-font;
        } 
    }
}
