.App {
  text-align: center;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #333;
  padding: 0px 10px 0px 10px;
  font-family:'Roboto Condensed', serif;
  background-color: #333;
  color: white;
}
.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav-item {
  margin: 5px 10px 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  text-decoration: underline;
}

.nav:hover {
  color: red;
}

.projects {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: auto;
}
.project {
  margin: 0px 10px 10px 10px;
  box-shadow: 0px 4px 6px #333;
  padding: 5px;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-desc {
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
  font-weight: bold;
  

}
.project-img {
  height: 200px;
  width: 300px;
  outline: 1px solid #333;

}

.fas {
  color: #333;
}

.fas:hover {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
}

.submit-button {
  width: 25%;
  margin: auto;
  cursor: pointer;
}

.about-title {
  font-family:'Roboto Condensed',sans-serif;
  font-size: 22px;
}
.me {
  border-radius: 12px;
  height: 215px;
  width: 215px;
}
.about-text {
  padding: 10px;
  text-align: center;
  width: 60%;
  margin: auto;
  font-family:'Merriweather', serif;
  line-height: 2em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  border: 2px solid #333;
}
.skill-box {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.skill {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.contact-form {
  margin-top: 75px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: #333;
  color: white;
  font-size: 20px;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
footer a {
  color: white;
}

@media (max-width: 500px) {
  .skills {
    width: 80%;
    align-items: center;
  }

  .nav-item:hover {
  text-decoration: none;
}

.nav:hover {
  color: white;
}

.submit-button {
  width: 50%;
}

}